body {
    position: relative;
}

.container {
    width: 80%;
    margin: 2% auto;
}


/*This section affects the navbar*/
#navbar li {
    display: inline-block;
    float: right;
    text-transform: uppercase;
}

#navbar {
    background-color: white;
    margin-right: 4%;
    width: 100%;
}

#myNavbar {
    z-index: 1;
    float: right;
    margin-right: 2%;
}

#navbar a {
    color: #003366;
    font-family: "PT Serif",Georgia,Times,serif;
    line-height: 1.75;
    font-size: 112.5%;
    letter-spacing: 0.05em;
    top: 0;
    -webkit-transition: color 600ms;
}

#navbar a:hover {
    color: #ff0;
}

/*This section affects the carousel at the top of page*/
/*@-webkit-keyframes STAR-MOVE {
    from {
        background-position: 5% 5%
    }
    to {
        background-position: 1300% 600%
    }
}*/



#home {
    background: black url(/assets/sunsetsunrise.jpg);
    background-size: cover;
    position: relative;
    padding-bottom: 30%;
    z-index: 100;
    top: 0;
}

#midground {
    background: url(/assets/midground.png);
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 200;

    -webkit-animation-name: STAR-MOVE;
    -webkit-animation-duration: 150s;
    -webkit-animation-timing-function: linear;
    -webkit-animation-iteration-count: infinite;
}

#home h1 {
    font-family: 'Baumans', cursive;
    text-align: center;
    font-size: 8em;
    margin-top: 15%;
}

#home p {
    color: #E3E6F1;
    width: 80%;
    margin-right: auto;
    margin-left: auto;
    text-align: center;
}



/*This section affects right after the carousel*/
.introduction {
    text-align: center;
    padding: 3%;
    margin:3%;
    font-family: 'Source Sans Pro', sans-serif;
    position: relative;
    margin-top: 1%;
}

/*This section affects the about section*/

#about {
    padding: 0%;
    margin-bottom: 0%;
    margin-top: 1%;
}

.about h1 {
    font-size: 3em;
    line-height: 1.05;
    font-family: 'Baumans', cursive;
    font-weight: bold;
    text-transform: uppercase;
    margin-top: 0%;
    padding-top: 5%;
    padding-bottom: 5%;
    text-align: center;
    border-style: solid;
    border-width: 5px;
    margin-bottom: 5%;
    background-color: white;
}

.about img {
    line-height: 1.05;
    float: right;
    padding-left: 8%;
    padding-top: 8%;
}

.aboutPic {
    padding:0%;
}

.aboutText {
    font-size: 1.25em;
}


.container p {
    width: 75%;
    float: left;
    margin-right: 2.12766%;
    float: none;
    margin: 0 auto 2rem;
    font-family: "PT Serif",Georgia,Times,serif;
    line-height: 1.75;
    font-size: 112.5%;
    color: #111;
}

.container h2 {
    width: 75%;
    float: left;
    margin-right: 2.12766%;
    float: none;
    margin: 0 auto 2rem;
    font-family: 'Baumans', cursive;
    line-height: 1.75;
    font-size: 200%;
    color: #111;
}

.container h4 {
    width: 75%;
    float: left;
    margin-right: 2.12766%;
    float: none;
    margin: 0 auto 2rem;
    font-family: 'Baumans', cursive;
    line-height: 1.75;
    font-size: 100%;
    color: #111;
    font-weight: bold;
}
/*Services provided*/

#services_wrapper {
    width: 90%;
    padding: 5%;
    padding-bottom: 7%;
    margin-left: auto;
    margin-right: auto;
    border-right: 1em solid transparent;
    border-bottom: 1em solid #4c4c4c;
    border-top: 1em solid #4c4c4c;
    border-left: 1em solid transparent;
}

.glyphicon-pencil, .glyphicon-wrench, .glyphicon-open {
  font-size: 3.5em;
  text-align: center;
  border-radius: 50%;
  border: 3px solid;
  padding: 10%;
  margin-left: 32%;
}


.indiv_serv h2 {
  font-size: 2em;
  font-weight: bold;
  text-transform: uppercase;
  font-family: 'Montserrat Alternates', sans-serif;
  text-align: center;
}

.indiv_serv p {
  font-size: 1.2em;
  line-height: 20px;
  text-align: center;
  font-family: 'Source Sans Pro', sans-serif;
  position: absolute;
}

/*This section affects the contact section of the page.*/
.get_in_touch {
    font-size: 1em;
    line-height: 1.05;
    font-family: 'Baumans', cursive;
    font-weight: bold;
    text-transform: uppercase;
    margin-top: 8%;
    width: 75%;
    float: left;
    margin-right: 2.12766%;
    float: none;
    margin: 0 auto 2rem;
    padding-top: 5%;
}

.contact_me_pic {
    line-height: 1.05;
    float: right;
    padding-left: 10%;
    padding-top: 20%;
    background-image: url(/assets/coffee_mug.jpg);
    background-attachment: fixed;
    background-size: cover;
    color: black;
    background-position: bottom;
    width: 100%;
    margin-bottom: 1%;
    margin-top: 1%;
    padding-bottom: 15%;
}

.contact_me {
    font-size: 3em;
    line-height: 1.05;
    font-family: 'Baumans', cursive;
    font-weight: bold;
    text-transform: uppercase;
    padding-top: 5%;
    padding-bottom: 5%;
    text-align: center;
    border-style: solid;
    border-width: 5px;
    margin-top: 25%;
}

#contact_me {
    margin-left: auto;
}

/*This section affects the faq section of the page*/
#list_services {
    width:90%;
    float: center;
    margin-right: auto;
    margin-left: 4%;
}

#faq {
    line-height: 1.05;
    float: right;
    padding-left: 10%;
    padding-top: 20%;
    background-image: url(/assets/portfolioheroimage.jpg);
    background-size: cover;
    color: black;
    background-position: bottom;
    width: 100%;
    margin-bottom: 1%;
    padding-bottom: 15%;
}

#faq h1{
    font-size: 10em;
    font-family: 'Baumans', cursive;
    padding-left: 10%;
    padding-top: 0%;
    color: #9B9788;
}
#faq h1:hover{
    color: #D4BC6D;
}

#faq li{
    text-decoration: none;
    list-style-type: none;
    padding: 4%;
    font-size: 1.75em;
    font-family: 'Baumans', cursive;
    color: #9B9788;
    width: 100%;
}
#faq li:hover {
    font-size: 2em;
    color: #D4BC6D;
}

/*This section affects the work examples section of the webpage*/

.row-modal {
    padding: 3%;
    position: absolute;
    margin-bottom: 4%;
}

#first_example {
    background-color: #6784F5;
    padding:2%;
}


#second_example {
    background-color: #3854C6;
    padding:2%;
}
#third_example {
    background-color: #6C78A9;
    padding:2%;
}
#fourth_example {
    background-color: #3E4D8B;
    padding:2%;
}

.example-images:hover {
    width: 104%;
}



/*This section affects the footer section of the webpage*/
footer {
    padding-top: 1%;
    padding-left: 5%;
    width: 100%;
    border-style: solid;
    border-top: thick double black;
}

.twitter-follow-button {
    float: right;
    margin-right: 1%;
}



/*vex popup*/
.vex {
  background-color: blue;
}
.image1 {
  width: 23%;
  height: 215px;
  margin: 3%;
  float: left;
  background-image: url(/assets/fourthboxwebpage.png);
}

.image2 {
  width: 23%;
  height: 215px;
  margin: 3%;
  float: left;
  background-image: url(/assets/secondboxwebpage.png);
}

.image3 {
  width: 23%;
  height: 215px;
  margin: 3%;
  float: left;
  background-image: url(/assets/thirdboxwebpage.png);
}

#backgroundPopup {
    z-index:1;
    position: fixed;
    display:none;
    height:100%;
    width:100%;
    background:#000000;
    top:0px;
    left:0px;
}

#toPopup1 {
    padding: 10px;
    background: #FFFFFF;
    color: #000000;
    display: none;
    font-size: 14px;
    left: 50%;
    margin-left: -200px;
    position: fixed;
    top: 40%;
    width: 400px;
    z-index: 2;
}

#toPopup2 {
    padding: 10px;
    background: #FFFFFF;
    color: #000000;
    display: none;
    font-size: 14px;
    left: 50%;
    margin-left: -200px;
    position: fixed;
    top: 40%;
    width: 400px;
    z-index: 2;
}

#toPopup3 {
    padding: 10px;
    background: #FFFFFF;
    color: #000000;
    display: none;
    font-size: 14px;
    left: 50%;
    margin-left: -200px;
    position: fixed;
    top: 40%;
    width: 400px;
    z-index: 2;
}

div#popup_content {
    margin: 54px 7px;
}