body {
    position: relative;
}

.container {
    width: 80%;
    margin: 2% auto;
}

/*This section affects the carousel at the top of page*/
.carousel-caption p {
    color: #E3E6F1;
    text-align: center;
    width: 100%;
}

.carousel-caption h1 {
    margin-bottom: 8%;
    font-family: 'Baumans', cursive;
}

#carousel-example-generic {
    width: 100%;
}

#home {
    padding: 1%;
}

/*This section affects the navbar*/
#navbar li {
    display: inline-block;
    float: right;
    text-transform: uppercase;
}

#navbar {
    background-color: white;
    margin-right: 4%;
    width: 100%;
}

#myNavbar {
    z-index: 1;
    float: right;
    margin-right: 2%;
}

#navbar a {
    color: #003366;
    font-family: "PT Serif",Georgia,Times,serif;
    line-height: 1.75;
    font-size: 112.5%;
    letter-spacing: 0.05em;
    top: 0;
    -webkit-transition: color 600ms;
}

#navbar a:hover {
    color: #ff0;
}

/*This section affects right after the carousel*/
.introduction {
    text-align: center;
    padding: 3%;
    margin:3%;
    font-family: 'Source Sans Pro', sans-serif;
}

/*This section affects the about section*/

#about {
    padding: 0%;
    border-right: 1em solid transparent;
    border-bottom: 1em solid #4c4c4c;
    line-height: 50px;

}

.about h1 {
    font-size: 3em;
    line-height: 1.05;
    font-family: 'Baumans', cursive;
    font-weight: bold;
    text-transform: uppercase;
    margin-top: 0%;
    padding-top: 5%;
    padding-bottom: 5%;
    text-align: center;
    border-style: solid;
    border-width: 5px;
    margin-bottom: 5%;
    background-color: white;
}

.about img {
    line-height: 1.05;
    float: right;
    padding-left: 8%;
    padding-top: 8%;
}

.aboutPic {
    padding:0%;
}

.aboutText {
    font-size: 1.25em;
}


.container p {
    width: 75%;
    float: left;
    margin-right: 2.12766%;
    float: none;
    margin: 0 auto 2rem;
    font-family: "PT Serif",Georgia,Times,serif;
    line-height: 1.75;
    font-size: 112.5%;
    color: #111;
}

.container h2 {
    width: 75%;
    float: left;
    margin-right: 2.12766%;
    float: none;
    margin: 0 auto 2rem;
    font-family: 'Baumans', cursive;
    line-height: 1.75;
    font-size: 200%;
    color: #111;
}

.container h4 {
    width: 75%;
    float: left;
    margin-right: 2.12766%;
    float: none;
    margin: 0 auto 2rem;
    font-family: 'Baumans', cursive;
    line-height: 1.75;
    font-size: 100%;
    color: #111;
    font-weight: bold;
}
/*Services provided*/

#services_wrapper {
    margin-top: 3%;
    padding: 5%;
    margin-bottom: 3%;
}

.glyphicon-pencil, .glyphicon-wrench, .glyphicon-open {
  font-size: 3.5em;
  text-align: center;
  border-radius: 50%;
  border: 3px solid;
  padding: 10%;
  margin-left: 32%;
}


.indiv_serv h2 {
  font-size: 2em;
  font-weight: bold;
  text-transform: uppercase;
  font-family: 'Montserrat Alternates', sans-serif;
  text-align: center;
}

.indiv_serv p {
  font-size: 1.2em;
  line-height: 20px;
  text-align: center;
  font-family: 'Source Sans Pro', sans-serif;
  position: absolute;
}

/*This section affects the contact section of the page.*/
.get_in_touch {
    font-size: 1em;
    line-height: 1.05;
    font-family: 'Baumans', cursive;
    font-weight: bold;
    text-transform: uppercase;
    margin-top: 8%;
    width: 75%;
    float: left;
    margin-right: 2.12766%;
    float: none;
    margin: 0 auto 2rem;
    padding-top: 5%;
}

.contact_me_pic {
    line-height: 1.05;
    float: right;
    padding-left: 10%;
    padding-top: 20%;
    background-image: url("https://s3.amazonaws.com/agustinchavez.ninja/coffee_mug.jpg");
    background-attachment: fixed;
    background-size: cover;
    color: black;
    background-position: bottom;
    width: 100%;
    margin-bottom: 1%;
    margin-top: 1%;
    padding-bottom: 15%;
}

.contact_me {
    font-size: 3em;
    line-height: 1.05;
    font-family: 'Baumans', cursive;
    font-weight: bold;
    text-transform: uppercase;
    padding-top: 5%;
    padding-bottom: 5%;
    text-align: center;
    border-style: solid;
    border-width: 5px;
}

#contact_me {
    margin-left: -5%;
}

/*This section affects the faq section of the page*/
.faq{
    width:90%;
    float: center;
    margin-right: auto;
    margin-left: auto;
}

#faq {
    line-height: 1.05;
    float: right;
    padding-left: 10%;
    padding-top: 20%;
    background-image: url("https://s3.amazonaws.com/agustinchavez.ninja/portfolioheroimage3.jpg");
    background-size: cover;
    color: black;
    background-position: bottom;
    width: 100%;
    margin-bottom: 1%;
    margin-top: 2%;
    padding-bottom: 15%;
}

#faq h1{
    font-size: 10em;
    font-family: 'Baumans', cursive;
    padding-left: 10%;
    padding-top: 0%;
}

#faq li{
    text-decoration: none;
    list-style-type: none;
    padding: 4%;
    font-size: 1.75em;
    font-family: 'Baumans', cursive;
    width: 100%;
}

/*This section affects the work examples section of the webpage*/
.work_header {
    font-size: 3em;
    line-height: 1.05;
    font-family: 'Baumans', cursive;
    font-weight: bold;
    text-transform: uppercase;
    padding-top: 5%;
    padding-bottom: 5%;
    text-align: center;
    border-style: solid;
    border-width: 5px;
    background-color: white;
    margin: 10% 2.5% 5% 2.5%;
    width: 95%;
}
.col-md-3 {
    padding: 1%;
}

.col-xs-6 {
    padding: 1%;
}

.img-responsive {
    display: block;
    max-width: 100%;
    height: auto;
}

.video {
    margin: 2% 30%;
    margin-left: 25%;
}

/*This section affects the modal above the footer of the webpage*/
.learn-more {
    text-align: left;
    float: left;
}

.bs-example-modal-lg {
    float: right;
    padding: 15px;
}

.row {
    width: 95%;
    padding: 1% 15%;
}

.modal-body {
    height: 500px;
}

#modal-frame {
    padding: 10px;
    width: 100%;
    height: 100%;
}

.modal-backdrop.in {
    z-index: auto;
}

/*This section affects the footer section of the webpage*/
footer {
    padding-top: 1%;
    padding-left: 5%;
    width: 100%;
    border-style: solid;
    border-top: thick double black;
}

.twitter-follow-button {
    float: right;
    margin-right: 1%;
}

/*Table of services*/
table {
    width: 80%;
    margin: 2% auto;
    text-align: center;
    border-style: solid;
    border-width: 5px;
}

.my-row th {
    padding-bottom: 1%;
    font-size: 1.5em;
}

.my-row td {
    padding-bottom: 2%;
}

.services-column {
    font-size: 1.25em;
    font-family: 'Baumans', cursive;
    border-style: solid;
    border-width: 5px;
    text-align: left;
    width: 320px;
}

.image {
    box-sizing: border-box;
    border: 2px solid red;
    width: 200px;
    height: 200px;
    margin: 5% 1% 5% 5%;
    display: inline-block;
    position: relative;
}

.info {
    display: inline-block;
    color: #fff;
    font-family: Futura;
    text-transform: uppercase;
    font-weight: 700;
    letter-spacing: 0.5em;
    line-height: 1.6;
    position: absolute;
    top: 15%;
    left: 22%;
}

.proj-title {
    font-weight: 100;

}

.work_example_image {
    padding: 0%;
}

#work {
    padding: 5%;
}
